    <!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ae96485b50.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="page-main">
            <header>
                <div class="header">
                    <a href="" class="header__logo"></a>
                    <ul class="header-list">
                        <li class="header-list__item active"><a href="" class="header-list__link">Home</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Service</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Extension</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Pricing</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Help</a></li>
                    </ul>
                    <button class="header-btn">sign up</button>
                </div>
            </header>
            <div class="wrap">
                <div class="main">
                    <div class="main-text">
                        <h1 class="main-text__title">lorem Ipsum
                            Dolor sit amet</h1>
                        <p class="main-text__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</p>   
                        <a href="" class="main-text__btn">Buy now</a>
                        <a href="" class="main-text__btn main-text__btn_two">Try for free</a> 
                    </div>
                    <video src="" width="600" height="320" ></video>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="wrap">
                <h2 class="page__title">Easy & Useful</h2>
                <h3 class="page__subtitle">Project Management Tool</h3>
                <p class="page__subtitle page__subtitle_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                <div class="dart-about">
                    <div class="dart-about-item">
                        <div class="dart-about-demo">
                            <div class="dart-about-demo__img"></div>
                        </div>
                        <div class="dart-about-text">
                            <h3>Title Goes Here</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="dart-about-item">
                        <div class="dart-about-demo">
                            <div class="dart-about-demo__img"></div>
                        </div>
                        <div class="dart-about-text">
                            <h3>Title Goes Here</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="dart-about-item">
                        <div class="dart-about-demo">
                            <div class="dart-about-demo__img"></div>
                        </div>
                        <div class="dart-about-text">
                            <h3>Title Goes Here</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <button class="dart-about__btn">Get started</button>
                </div>
                <div class="page-footer">
                    <div class="page-footer__count">
                        <p>12000+
                            Business</p>
                    </div>
                    <div class="page-footer__count">
                        <p>60000+
                            Downloads</p>
                    </div>
                    <div class="page-footer__count">
                        <p>30000+
                            Free Installs</p>
                    </div>
                    <div class="page-footer__count">
                        <p>40000+
                            Pro Users</p>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>